//Database
DATABASE_URL="postgres://postgres:password@localhost:5432/indika"

//bcrypt
SALT_ROUNDS=10
PEPPER_SECRET="peper_secret" 

//jwt
JWT_SECRET="jwt_secret"

//resend
RESEND_API_KEY="re_xxxxxxxxxxx"
MAIL_FROM_EMAIL="adm@adm.com"

//google oauth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"